name: Pull-Request Testing
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.7.2

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build docker image
      run: docker build .

  validate-radixconfig:
    name: Test RadixConfig
    runs-on: ubuntu-latest
    steps:
      - name: 'Fake TOKEN FOR RADIX CLI'
        run: echo "APP_SERVICE_ACCOUNT_TOKEN=dummy" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - uses: equinor/radix-github-actions@v2
      - name: 'Validate'
        run: rx validate radix-config --config-file radixconfig.yaml
